<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Calcular carta natal</title>
</head>
<body>
	<div th:fragment="cartanatal">
		<script type="text/javascript">
		$( function() {
				$('#fechaNacimiento').datepicker();
				$.widget( "ui.timespinner", $.ui.spinner, {
				      options: {
				        // seconds
				        step: 60 * 1000,
				        // hours
				        page: 60
				      },
				 
				      _parse: function( value ) {
				        if ( typeof value === "string" ) {
				          // already a timestamp
				          if ( Number( value ) == value ) {
				            return Number( value );
				          }
				          return +Globalize.parseDate( value );
				        }
				        return value;
				      },
				 
				      _format: function( value ) {
				        return Globalize.format( new Date(value), "t" );
				      }
				    });
				 
				    $( "#spinner" ).timespinner();
			}
		);
		</script>
		<div class="card">
			<h5 class="card-header">Astrolog&iacute;a</h5>
			<div class="card-body">
				<img th:src="@{/img/cartanatal.jpg}" class="card-img">
				<form action="#" th:action="@{/}" th:object="${datosCalculoHoroscopo}" method="post">
					<div class="form-group">
						<label for="nombreApellidos">Nombre y apellidos</label> <input
							type="text" class="form-control" id="nombreApellidos" th:field="*{nombreApellidos}"
							aria-describedby="nombreHelp" placeholder="Nombre y apellidos">
					</div>
					<div class="form-group">
						<label for="fechaNacimiento">Fecha de nacimiento</label>
						<input type=text class="form-control" id="fechaNacimiento" th:field="*{fechaNacimiento}" placeholder="dd/mm/aaaa" />
					</div>
					<div class="form-group">
						<label for="spinner">Hora y minutos</label>
						<input type=text class="form-control" id="horaMinutos" th:field="*{horaMinutos}" placeholder="hh:mm" />
					</div>
					<div class="form-group">
						<label for="pais">Pa&iacute;s</label>
						<input type=text class="form-control" id="pais" th:field="*{pais}" placeholder="Pa&iacute;s" />
					</div>
					<div class="form-group">
						<label for="horaMinutos">Ciudad</label>
						<input type=text class="form-control" id="ciudad" th:field="*{ciudad}" placeholder="Ciudad" />
					</div>
					<button type="submit" class="btn btn-primary">Ver carta</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>