<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Calcular carta natal</title>
</head>
<body>
	<div th:fragment="cartanatal">
		<script type="text/javascript">
				$('#datetimepicker1').datepicker();
		</script>
		<div class="card">
			<h5 class="card-header">Astrolog&iacute;a</h5>
			<div class="card-body">
				<img th:src="@{/img/cartanatal.jpg}" class="card-img">
				<form>
					<div class="form-group">
						<label for="nombreApellidos">Nombre y apellidos</label> <input
							type="text" class="form-control" id="nombreApellidos"
							aria-describedby="nombreHelp" placeholder="Nombre y apellidos">
						<small id="nombreHelp" class="form-text text-muted">Introduce
							tu nombre o el de la persona a la que quieras calcular su carta
							astral</small>
					</div>
					<div class="form-group">
						<label for="fechaNacimiento">Fecha de nacimiento</label> <input
							type=text class="form-control" id="fechaNacimiento"
							placeholder="dd/mm/aaaa" />
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-th"></span>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group date" data-provide="datepicker">
							<input type="text" class="form-control">
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-th"></span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group date" id="datetimepicker1"
							data-target-input="nearest">
							<input type="text" class="form-control datetimepicker-input"
								data-target="#datetimepicker1" />
							<div class="input-group-append" data-target="#datetimepicker1"
								data-toggle="datetimepicker">
								<div class="input-group-text">
									<i class="fa fa-calendar"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group form-check">
						<input type="checkbox" class="form-check-input" id="exampleCheck1">
						<label class="form-check-label" for="exampleCheck1">Check
							me out</label>
					</div>
					<button type="submit" class="btn btn-primary">Ver carta</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>