body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}

.navbar-tarot {
  background: url("/img/cel.jpg") repeat top left !important;
}


/* change the brand and text color */
.navbar-tarot .navbar-brand,
.navbar-tarot .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-tarot .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-tarot .nav-item.active .nav-link,
.navbar-tarot .nav-item:hover .nav-link {
    color: #ffffff;
}



///
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}