<!DOCTYPE HTML>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/main_layout}">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Tarot y Astrología</title>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>

	<div layout:fragment="content" class="container">
	<script th:inline="javascript">
		window.onload = function() {
			var data = JSON.parse(/*[[${data}]]*/[]);
			//var dataHoy = JSON.parse(/*[[${dataHoy}]]*/[]);
			var chart = new astrology.Chart('paper', 800, 800);
			var radix = chart.radix(data);
			/*
			radix.addPointsOfInterest({
				"As" : [ data.cusps[0] ],
				//"Ic" : [ data.cusps[3] ],
				//"Ds" : [ data.cusps[6] ],
				"Mc" : [ data.cusps[9] ]
			});
			*/
			var aspects = radix.aspects();	
		
			
			
			///
			var tablaFila = {
					Sun: {},
					Moon: {},
					Mercury: {},
					Venus: {},
					Mars: {},
					Jupiter: {},
					Saturn: {},
					Uranus: {},
					Neptune: {},
					Pluto: {},
					NNode: {}
			};
			
			function tablaCol() {
				return {
					Sun: {},
					Moon: {},
					Mercury: {},
					Venus: {},
					Mars: {},
					Jupiter: {},
					Saturn: {},
					Uranus: {},
					Neptune: {},
					Pluto: {},
					NNode: {}
				};
			};

			for (var filaKey in tablaFila) {
				tablaFila[filaKey] = tablaCol();				
			}
			
			
			var lasp = new astrology.AspectCalculator(radix.toPoints, astrology.ASPECTS).radix(data.planets);
			lasp.forEach(function(lAsp) {
				tablaFila[lAsp.point.name][lAsp.toPoint.name] = lAsp;
			});
			
			
			var table = document.createElement("table");
			table.className="gridtable";
			var thead = document.createElement("thead");
			var tbody = document.createElement("tbody");
			
			var tr = document.createElement("tr");
			var td = document.createElement("th");
			tr.appendChild(td);
			for (var filaKey in tablaFila) {
				td = document.createElement("th");
				td.appendChild(document.createTextNode(filaKey));
				tr.appendChild(td);
		    }
		    thead.appendChild(tr);
			table.appendChild(thead);
			
			
			for (var filaKey in tablaFila) {
				tr = document.createElement("tr");
				td = document.createElement("td");
				td.appendChild(document.createTextNode(filaKey));
				tr.appendChild(td);
				for (var columKey in tablaFila[filaKey]) {
					td = document.createElement("td");
					var contenido = tablaFila[filaKey][columKey];
					var texto = "";
					if (contenido.aspect != undefined) {
						texto = "Aspecto:" + contenido.aspect.name 
						+ " Precision:" + contenido.precision
						+ " grados:" + contenido.aspect.degree
						+ " orbit:" + contenido.aspect.orbit
						+ " de: " + contenido.point.name
						+ " a: " + contenido.toPoint.name;
					} 
					td.appendChild(document.createTextNode(texto));
					tr.appendChild(td);
				}
				tbody.appendChild(tr);
		    }
			table.appendChild(tbody);
			document.getElementById("aspectos").appendChild(table);		
			
		
			
			/*		
			var chartHoy = new astrology.Chart('paperhoy', 800, 800);
			var radixHoy = chartHoy.radix(data);
			var transit = radixHoy.transit(dataHoy);
			// data, duration in seconds, isReverse, callback
			transit.animate( data, 6, false, function(){
				console.log("Animation finished.");
			});	

			radixHoy.addPointsOfInterest({
				"As" : [ data.cusps[0] ],
				"Ic" : [ data.cusps[3] ],
				"Ds" : [ data.cusps[6] ],
				"Mc" : [ data.cusps[9] ]
			});
			radixHoy.aspects();
*/
			
		};
	</script>

		<div class="row">
			<div class="col" th:text="${planetEphemeris}">Planet Efemérides
			</div>
		</div>
		<div class="row">
			<div class="col" th:text="${cuspEphemeris}">Cusp Ephemeris</div>
		</div>
		<div class="row">
			<div class="col" th:text="${horoscoptxt}">Horóscopo</div>
		</div>
		<div class="row">
			<div class="col" id="paper"></div>
		</div>
		<div class="row">
			<div class="col" id="aspectos"></div>
		</div>
		<div class="row">
			<div class="col" id="paperhoy"></div>
		</div>
	</div>
</body>
</html>